*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFFBF0;
    font-family: 'Roboto', sans-serif;
}
nav ul li a{
    font-size: 18px;
}
.color-top{
    margin-bottom: -10px;
    color: #FABE4C;
    font-size: 50px;
    font-weight: regular;
}
.color-bottom{
    color: #363958;
    font-size: 50px;
    font-weight: regular;
}

.button-color{
    background-color: #90AA29;
}
button{
    border-radius: 10px;
}