*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFFBF0;
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 16px;
    font-weight: regular;
    color: #565656;
}
nav ul li a{
    font-size: 18px;
}
/* first section part css start */
.logo{
    width: 350px;
}
.color-top{
    margin-bottom: -10px;
    color: #FABE4C;
    font-size: 50px;
    font-weight: regular;
}
.color-bottom{
    color: #363958;
    font-size: 50px;
    font-weight: regular;
}

.button-color-home{
    background-color: #90AA29;
    border-radius: 10px;
}
.color-head{
    color: #363958;
    font-size: 35px;
    font-weight: bold;
}
.button-color{
    background-color: #90AA29;
    border-radius: 10px;
    margin-left: 100px;
}
/* first section part css end */

/* main part css start */
.color-usd{
    color: #FABE4C;
}
.main-section{
    border: none;
    padding: 10px 0px;
    border-radius: 12px;
}
.main-section img{
    width: 288px;
    height: 338px;
    background-color: #ddd;
    padding: 20px 25px;
    border-radius: 10px;
}
.main-section .card-title{
    color: #434662;
    font-weight: bold;
    font-size: 24px;
}
.main-section .jacket-footer{
    background-color: #fff;
    border: 0;
}
/* main part css end */

/* contact & support part css */
.row-column{
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: 10px;
    margin: 5px 0px;
    padding: 10px 0px;

}
.contact-title{
    color: #434662;
    font-weight: bold;
    font-size: 24px;
}

/* footer css start */
footer{
    background-color: #515151;
    color: #fff;
}
footer p{
    
    font-size: 16px;
    font-weight: regular;
    color: #fff;
}
footer .margin{
	display: block;
	height: 2px;
	background-color: #dcdcdc;
	margin-top: 20px;
	margin-bottom: 20px;
}
/* footer css end */